<p id="notice"><%= notice %></p>

<h1>Artists</h1>

<table border=1>
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Total word count</th>
      <th>Novel word ratio</th>
    </tr>
  </thead>

  <tbody>
    <% @artists.each do |artist| %>
      <tr>
        <td><%= link_to artist.name, artist_path(artist) %></td>
        <td><%= link_to @genres.find(artist.genre_id).name, genre_path(artist.genre_id) %></td>
        <td><%= artist.get_artist_word_count %></td>
        <td><%= artist.artist_novel_word_ratio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artist', new_artist_path %>
