<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Genre:</strong>
  <%= link_to @artist.find_genre.name, genres_path(@artist.find_genre.id)%>
</p>

<p>
  <strong>Total word count:</strong>
  <%= @artist.get_artist_word_count %> in <%= @artist.find_songs_by_artist.length %> songs
</p>

<p>
  <strong>Novel word count:</strong>
  <%= @artist.get_artist_novel_word_count %>
</p>

<p>
  <strong>Novel word ratio:</strong>
  <%= @artist.artist_novel_word_ratio %>
</p>

<p>
  <strong>Songs by artist:</strong><br />
  <% @artist.find_songs_by_artist.each do |song| %>
    - <%= link_to song.title, song_path(song) %><br />
  <% end %>
  <br />
  <%= link_to "Add song", new_song_path %>
</p>


<p>
  <Strong>Thirty most common words for artist:</Strong><br />
  <% @artist.word_breakdown.each do |word|  %>
    "<%= word[0] %>" - - - appears <%= word[1] %> times
    <br />
  <% end %>
</p>
<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Artist Index', artists_path %>